<div class="home">

  <div class="page-title">
    <h2 sticky-element sticky-top="46" sticky-index="2000">Hello,</h2>
  </div>

  <h3 class="page-title-sub">welcome to the store.</h3>

  <p><%= lorem.paragraph %>.</p>
  <p><%= lorem.paragraph %>.</p>
  <hr>
  <p><%= lorem.paragraph %>.</p>
</div>